<!--
  Form to gather a new Truck
-->
<!DOCTYPE html>
<html>
  <head>
    <title>New Truck</title>
  </head>
  <body>
    <div>
      <h1>New Truck</h1>
      <form action="/trucks/new" method="post">
        <label>Model</label>
        <input type="text" name="model" value="Enter Modelname"/>
        <label>Weight</label>
        <input type="text" name="weight" value="Enter Weight"/>
        <label>Amount of palettes</label>
        <input type="text" name="paletteAmount" value="Enter palettes capacity"/>
        <label>Can Vehicle drive on its own?</label>
        <!--select name="canDrive">
          <option value="TRUE">yes</option>
          <option value="FALSE">no</option>

        </select-->

        <input type="submit" value="Create"/>

      </form>
    </div>
  </body>
</html>
